body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 15, 15);
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    letter-spacing: 15px;
    text-shadow: none;
    animation: animate 1s infinte linear;
    font-weight: 600;
}

@keyframes animate {
    0% {
        color: black;
        text-shadow: none;
    }

    18% {
        color: black;
        text-shadow: none;
    }

    20% {
        color: yellow;
        text-shadow: 0 0 7px yellow, 0 0 20px #ff6c00;
    }

    30% {
        color: black;
        text-shadow: none;
    }

    35% {
        color: yellow;
        text-shadow: 0 0 7px yellow, 0 0 20px #ff6c00;
    }

    70% {
        color: black;
        text-shadow: none;
    }

    85% {
        color: yellow;
        text-shadow: 0 0 7px yellow, 0 0 20px #ff6c00;
    }

    90% {
        color: black;
        text-shadow: none;
    }

    100% {
        color: black;
        text-shadow: none;
    }
}

ul li:nth-child(1){
    animation-delay: .3s;
}
ul li:nth-child(2){
    animation-delay: .6s;
}
ul li:nth-child(3){
    animation-delay: .9s;
}
ul li:nth-child(4){
    animation-delay: 1.2s;
}